<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rc.androiddemo">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER"/>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>

        <!--ui-->
        <!--TextView-->
        <activity android:name=".ui.textview.TextViewDemo" />
        <!--EditTextDemo-->
        <activity android:name=".ui.edittext.EditTextDemo" />
        <!--动画-->
        <activity android:name=".ui.animation.TweenedAnimation" />
        <activity android:name=".ui.animation.view.tween.AlphaDemo" />
        <activity android:name=".ui.animation.view.tween.RotateDemo" />
        <activity android:name=".ui.animation.view.tween.ScaleDemo" />
        <activity android:name=".ui.animation.view.tween.TranslateDemo" />
        <!--评分条-->
        <activity android:name=".ui.ratingbar.RatingBarDemo" />
        <!--webview-->
        <activity android:name=".ui.webview.WebViewDemo" />
        <!--开关按钮-->
        <activity android:name=".ui.switchh.SwitchDemo" />
        <!--浮窗-->
        <activity android:name=".ui.dialog.AlertDialogDemo" />

        <activity android:name=".ui.custom.TwoScrollViewDemo" />


        <!--Bitmap-->
        <activity android:name=".resources.drawable.bitmapfile.BitmapFileDemo" />
        <!--层叠-->
        <activity android:name=".resources.drawable.layerlist.LayerListDemo" />
        <!--.9-->
        <activity android:name=".resources.drawable.ninepatchfile.NinePatchFileDemo" />
        <!-- 触摸事件-->
        <activity android:name=".ui.touchevent.TouchEventDemo" />
        <!-- MVP模式-->
        <activity android:name=".design.mvpdemo.view.MVPLoginDemo" />
        <!-- 动画-->
        <activity android:name=".ui.animation.view.tween.AnimationDemo" />
        <!-- dialogfragment弹窗-->
        <activity android:name=".ui.dialog.DialogFragmentDemo" />
        <!-- -->

        <activity android:name=".ui.ViewGroupEventDemo" />

        <activity android:name=".ui.alpha.AlphaDemo" />

        <!--RecyclerView-->
        <activity android:name=".ui.recyclerview.RcListDemo" />
        <activity android:name=".ui.recyclerview.RcGridDemo" />
        <activity android:name=".ui.recyclerview.RvStaggeredGridDemo" />

        <activity android:name=".components.activity.FragmentTabHostDemo" />
        <activity android:name=".ui.textview.AutoCompleteTextViewDemo" />
        <!-- 拉动刷新 -->
        <activity android:name=".ui.pulltorefresh.PullToRefreshDemo" />
        <!-- 滚动视图 -->
        <activity android:name=".ui.scroller.ScrollerDemo" />
        <!-- 圆形进度条 -->
        <activity android:name=".ui.progressview.RoundProgressViewDemo" />
        <!-- service-->
        <activity android:name=".service.ServiceDemo" />
        <activity android:name=".ui.dialog.FilterViewDemo" />
        <activity android:name=".ui.flowlayout.FlowLayoutDemo" />
        <!-- 属性动画-->
        <activity android:name=".ui.animation.object.ObjectAnimationDemo" />
        <!-- 控件坐标-->
        <activity android:name=".ui.viewcoor.ViewCoorDemo" />

        <service
            android:name=".service.MyService"
            android:enabled="true"
            android:exported="true"
            android:process=":my_service">
            <intent-filter>
                <action android:name="myservice" />
            </intent-filter>
        </service>
    </application>

</manifest>
